[Unit]
Description=Teams Webhook Sender
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=python3 /TO/YOUR/PYTHON/FILE/PATH/main.py
User=YOUR_USER_NAME

[Install]
WantedBy=multi-user.target